*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

